## Import

Import the requirements

In [1]:
!pip install -r requirements.txt

Requirement already satisfied: attrs==19.3.0 in /opt/conda/lib/python3.7/site-packages (from -r requirements.txt (line 1)) (19.3.0)
Requirement already satisfied: certifi==2020.4.5.1 in /opt/conda/lib/python3.7/site-packages (from -r requirements.txt (line 2)) (2020.4.5.1)
Requirement already satisfied: chardet==3.0.4 in /opt/conda/lib/python3.7/site-packages (from -r requirements.txt (line 3)) (3.0.4)
Requirement already satisfied: idna==2.9 in /opt/conda/lib/python3.7/site-packages (from -r requirements.txt (line 4)) (2.9)
Requirement already satisfied: importlib-metadata==1.6.0 in /opt/conda/lib/python3.7/site-packages (from -r requirements.txt (line 5)) (1.6.0)
Collecting lxml==4.5.0
  Downloading lxml-4.5.0-cp37-cp37m-manylinux1_x86_64.whl (5.7 MB)
     |████████████████████████████████| 5.7 MB 1.8 MB/s eta 0:00:01
Collecting more-itertools==8.2.0
  Downloading more_itertools-8.2.0-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 4.3 MB/s  eta 0:00:01
Collecting multitasking==0.0.9
  Downloading multitasking-0.0.9.tar.gz (8.1 kB)
Collecting numpy==1.18.3
  Downloading numpy-1.18.3-cp37-cp37m-manylinux1_x86_64.whl (20.2 MB)
     |████████████████████████████████| 20.2 MB 35.9 MB/s eta 0:00:01
Collecting packaging==20.3
  Downloading packaging-20.3-py2.py3-none-any.whl (37 kB)
Collecting pandas==1.0.3
  Downloading pandas-1.0.3-cp37-cp37m-manylinux1_x86_64.whl (10.0 MB)
     |████████████████████████████████| 10.0 MB 7.8 MB/s eta 0:00:01    |█████████████████████████████▌  | 9.3 MB 7.8 MB/s eta 0:00:01
Collecting pandas-datareader==0.8.1
  Downloading pandas_datareader-0.8.1-py2.py3-none-any.whl (107 kB)
     |████████████████████████████████| 107 kB 30.9 MB/s eta 0:00:01
Collecting pluggy==0.13.1
  Downloading pluggy-0.13.1-py2.py3-none-any.whl (18 kB)
Collecting py==1.8.1
  Downloading py-1.8.1-py2.py3-none-any.whl (83 kB)
     |████████████████████████████████| 83 kB 6.6 MB/s  eta 0:00:01
Collecting pyparsing==2.4.7
  Downloading pyparsing-2.4.7-py2.py3-none-any.whl (67 kB)
     |████████████████████████████████| 67 kB 12.8 MB/s eta 0:00:01
Collecting pytest==5.4.1
  Downloading pytest-5.4.1-py3-none-any.whl (246 kB)
     |████████████████████████████████| 246 kB 18.1 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil==2.8.1 in /opt/conda/lib/python3.7/site-packages (from -r requirements.txt (line 17)) (2.8.1)
Collecting pytz==2020.1
  Downloading pytz-2020.1-py2.py3-none-any.whl (510 kB)
     |████████████████████████████████| 510 kB 5.3 MB/s eta 0:00:01
Requirement already satisfied: requests==2.23.0 in /opt/conda/lib/python3.7/site-packages (from -r requirements.txt (line 19)) (2.23.0)
Requirement already satisfied: six==1.14.0 in /opt/conda/lib/python3.7/site-packages (from -r requirements.txt (line 20)) (1.14.0)
Requirement already satisfied: urllib3==1.25.9 in /opt/conda/lib/python3.7/site-packages (from -r requirements.txt (line 21)) (1.25.9)
Requirement already satisfied: wcwidth==0.1.9 in /opt/conda/lib/python3.7/site-packages (from -r requirements.txt (line 22)) (0.1.9)
Collecting yfinance==0.1.54
  Downloading yfinance-0.1.54.tar.gz (19 kB)
Requirement already satisfied: zipp==3.1.0 in /opt/conda/lib/python3.7/site-packages (from -r requirements.txt (line 24)) (3.1.0)
Building wheels for collected packages: multitasking, yfinance
  Building wheel for multitasking (setup.py) ... done
  Created wheel for multitasking: filename=multitasking-0.0.9-py3-none-any.whl size=8366 sha256=7b04a170553ae48a76b18e7027e6cd2b5c1cf5ec239eb46683e4c5f682dc7d59
  Stored in directory: /home/addlema/.cache/pip/wheels/ae/25/47/4d68431a7ec1b6c4b5233365934b74c1d4e665bf5f968d363a
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.54-py2.py3-none-any.whl size=22409 sha256=8c4b86b8dda7714e6125de581cb9cffe98567256cabe38a78799233282264436
  Stored in directory: /home/addlema/.cache/pip/wheels/28/79/3c/08a301b673366fe664fe2853e136eb2acc1bb752045c11c6a1
Successfully built multitasking yfinance
Installing collected packages: lxml, more-itertools, multitasking, numpy, pyparsing, packaging, pytz, pandas, pandas-datareader, pluggy, py, pytest, yfinance
Successfully installed lxml-4.5.0 more-itertools-8.2.0 multitasking-0.0.9 numpy-1.18.3 packaging-20.3 pandas-1.0.3 pandas-datareader-0.8.1 pluggy-0.13.1 py-1.8.1 pyparsing-2.4.7 pytest-5.4.1 pytz-2020.1 yfinance-0.1.54

In [2]:
from pyfin.pyfin import Stock

/opt/conda/lib/python3.7/site-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [3]:
import datetime as dt
start = dt.datetime(2019,5,1)
end = dt.datetime.now()

In [4]:
apple = Stock("AAPL", start, end)

In [5]:
apple.getData()

[*********************100%***********************]  1 of 1 completed

In [6]:
apple.stock_data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-05-01,209.880005,215.309998,209.229996,210.520004,207.800110,64827300
2019-05-02,209.839996,212.649994,208.130005,209.149994,206.447800,31996300
2019-05-03,210.889999,211.839996,210.229996,211.750000,209.014221,20892400
2019-05-06,204.289993,208.839996,203.500000,208.479996,205.786469,32443100
2019-05-07,205.880005,207.419998,200.830002,202.860001,200.239075,38763700
...,...,...,...,...,...,...
2020-04-29,284.730011,289.670013,283.890015,287.730011,287.730011,34320200
2020-04-30,289.959991,294.529999,288.350006,293.799988,293.799988,45766000
2020-05-01,286.250000,299.000000,285.850006,289.070007,289.070007,60154200
2020-05-04,289.170013,293.690002,286.320007,293.160004,293.160004,33392000
2020-05-05,295.059998,301.000000,294.459991,297.559998,297.559998,36895200

In [7]:
apple.addMovingAverage(50)

In [8]:
apple.stock_data

,Open,High,Low,Close,Adj Close,Volume,Sma_50
Date,,,,,,,
2019-05-01,209.880005,215.309998,209.229996,210.520004,207.800110,64827300,NaN
2019-05-02,209.839996,212.649994,208.130005,209.149994,206.447800,31996300,NaN
2019-05-03,210.889999,211.839996,210.229996,211.750000,209.014221,20892400,NaN
2019-05-06,204.289993,208.839996,203.500000,208.479996,205.786469,32443100,NaN
2019-05-07,205.880005,207.419998,200.830002,202.860001,200.239075,38763700,NaN
...,...,...,...,...,...,...,...
2020-04-29,284.730011,289.670013,283.890015,287.730011,287.730011,34320200,271.656798
2020-04-30,289.959991,294.529999,288.350006,293.799988,293.799988,45766000,271.060398
2020-05-01,286.250000,299.000000,285.850006,289.070007,289.070007,60154200,270.435798
2020-05-04,289.170013,293.690002,286.320007,293.160004,293.160004,33392000,270.037999
2020-05-05,295.059998,301.000000,294.459991,297.559998,297.559998,36895200,270.025599

In [9]:
#self.stock_data.iloc[:,4].ewm(span=moving_average, adjust=False).mean()

In [24]:
apple.stock_data

,Open,High,Low,Close,Adj Close,Volume,Sma_50
Date,,,,,,,
2019-05-01,209.880005,215.309998,209.229996,210.520004,207.800110,64827300,NaN
2019-05-02,209.839996,212.649994,208.130005,209.149994,206.447800,31996300,NaN
2019-05-03,210.889999,211.839996,210.229996,211.750000,209.014221,20892400,NaN
2019-05-06,204.289993,208.839996,203.500000,208.479996,205.786469,32443100,NaN
2019-05-07,205.880005,207.419998,200.830002,202.860001,200.239075,38763700,NaN
...,...,...,...,...,...,...,...
2020-04-29,284.730011,289.670013,283.890015,287.730011,287.730011,34320200,271.656798
2020-04-30,289.959991,294.529999,288.350006,293.799988,293.799988,45766000,271.060398
2020-05-01,286.250000,299.000000,285.850006,289.070007,289.070007,60154200,270.435798
2020-05-04,289.170013,293.690002,286.320007,293.160004,293.160004,33392000,270.037999
2020-05-05,295.059998,301.000000,294.459991,297.559998,297.559998,36895200,270.025599

## Get the adj close

two methods to getting the column..

In [25]:
# by numeric id
apple.stock_data.iloc[:,4]

Date
2019-05-01    207.800110
2019-05-02    206.447800
2019-05-03    209.014221
2019-05-06    205.786469
2019-05-07    200.239075
                 ...
2020-04-29    287.730011
2020-04-30    293.799988
2020-05-01    289.070007
2020-05-04    293.160004
2020-05-05    297.559998
Name: Adj Close, Length: 256, dtype: float64

In [28]:
# by name
apple.stock_data['Adj Close']

Date
2019-05-01    207.800110
2019-05-02    206.447800
2019-05-03    209.014221
2019-05-06    205.786469
2019-05-07    200.239075
                 ...
2020-04-29    287.730011
2020-04-30    293.799988
2020-05-01    289.070007
2020-05-04    293.160004
2020-05-05    297.559998
Name: Adj Close, Length: 256, dtype: float64

## find moving average

In [30]:
round(apple.stock_data['Adj Close'].ewm(span=10,adjust=False).mean())

Date
2019-05-01    208.0
2019-05-02    208.0
2019-05-03    208.0
2019-05-06    207.0
2019-05-07    206.0
              ...
2020-04-29    279.0
2020-04-30    282.0
2020-05-01    283.0
2020-05-04    285.0
2020-05-05    287.0
Name: Adj Close, Length: 256, dtype: float64